# Byte-compiled / optimized / DLL files
__pycache__/
*/__pycache__/
*.py[cod]
*$py.class
*/.pyc

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
var/
wheels/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
test-results/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
static/

# VS Code / PyCharm / other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# mypy, pylint, pyright
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pylint.d/

# Environment variables
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# Docker
*.pid
*.seed
*.pid.lock
docker-compose.override.yml
__docker__/build/
__docker__/.env

# Sonar
.sonar/
sonar-report/

# System files
.DS_Store
Thumbs.db
